body {
background-color: rgb(248, 168, 19);
height: 99%;
    width: 99%;
}
.img img{
    border-radius: 50%;
}
#searchBtn{
color:  black;
}
#searchBtn:hover{
color:  white;
}
.nav-link:hover {
color: ;
}
.nav-link:hover {
background-color: rgba(255, 217, 0, 0.151);
border-radius: 10%;
}
.navbar-brand {
    color: black;
}
.navbar {
    background-color: white;
}

.main-Container{
    border-radius: 10px;
    margin-top: 35px;
    background-color: #f9f5f3;

}


