body {
background-color: rgb(248, 168, 19);
}
.img img{
    border-radius: 50%;
}
#searchBtn:hover{
color:  white;
}
.nav-link:hover {
color: orange;
}
.navbar-brand {
    color: orange;
}

.main-Container{
    border-radius: 10px;
    margin-top: 35px;
    margin: 0px, auto;
    background-color: #f9f5f3;
    height: 90%;
    width: 90%;
}

html {
    box-sizing: border-box;
    font-size: 92.5%;
}
.paragraph {
    font-size: larger;
    margin-top: 80px;
    padding-left: 820px;
}
   

